In [ ]:
"""
String methods: Advanced

upper(): return lower case to upper case

lower(): returns upper case to lower case

count() counts number of characters in string

find() finds character or substring

replace()

startswith() - the whole string
endswith()- the whole string

split() - breaks up a string (separator, maxsplit(opt)) white space is default separator

strip:  strips away the designated area: white spaces are default

        lstrip: takes away everything from the left  - works on "end" pieces only
        rstrip: takes awsy everything from the right  -  works on "end" pieces only
        
join(): concatenates strings uses a para for the join  "joinCharacter".join(str)



List Featues: Advanced

exend: used to append lists to list : list1.append(list2)

insert() insert element to list at an index

pop(): removes from list in index and returns removed element

remove() deletes element that has that value

index() works as find returns the index of the element; this takes an index range as its second argument

count() number of elements no index range

sort() sorts in specific order asc/desc default:desc

sorted() returns sort of list but does not change the original list


"""

In [29]:
myString=("THis is my New String")

In [9]:
"PYTHON".upper()

'PYTHON'

In [19]:
myString.lower()

'this is my new string'

In [21]:
"python".upper()

'PYTHON'

In [27]:
myString.count("t")

TypeError: slice indices must be integers or None or have an __index__ method

In [34]:
s=myString.lower()
s.count("new",6)

1

In [35]:
s.find("new")

11

In [36]:
s.find("i")

2

In [38]:
"My new place".find("e",7)

11

In [39]:
"My new place".find("x")

-1

In [41]:
a=("This is the new type of school.")
b=a.replace("school","home")
print(b)

This is the new type of home.

In [43]:
a=("This is the new type of school.")
a.startswith("T")

True

In [47]:
a=("This is the new type of school.")
a.endswith("school.")

True

In [48]:
a=("This,is,the,new-type-of,school.")
a.split(",")

['This', 'is', 'the', 'new-type-of', 'school.']

In [51]:
a=("This,is,the,new-type-of,school.")
c,b=a.split("-",1)
print(c)
print(b)

This,is,the,new
type-of,school.

In [53]:
a=("This,is,the,new-type-of,school.")
a.strip(".")

'This,is,the,new-type-of,school'

In [60]:
a=("      the,new-type        ")
a.rstrip()

'      the,new-type'

In [61]:
"****Python*****".lstrip("*")

'Python*****'

In [62]:
"This,is,the,new-type-of,school.".rstrip(",")

'This,is,the,new-type-of,school.'

In [65]:
list1=["15","08","2020"]
"/".join(list1)

'15/08/2020'

In [3]:
list1=[0,10,2]
list2=[14,22,3]

list1.extend(list2)
print(list1)

[0, 10, 2, 14, 22, 3]

In [5]:
list1.insert(3,666)

In [14]:
print(list1)

[0, 10, 2, 22, 3]

In [8]:
list1.pop(3)
list1

[0, 10, 2, 14, 22, 3]

In [10]:
list1.remove(14)
list1

[0, 10, 2, 22, 3]

In [13]:
list1.index(10)

1

In [17]:
list1.sort
list1

NameError: name 'reverse' is not defined

In [18]:
list1.sort(reverse = True)
list1

[22, 10, 3, 2, 0]

In [20]:
emp=[{'name':'Alex','age':'33'},
    {'name':'George','age':'11'},
    {'name':'Sue','age':'44'},]

In [25]:
emp_sorted=sorted(emp, key = lambda k: k['name'], reverse = True)
print(emp_sorted)

[{'name': 'Sue', 'age': '44'}, {'name': 'George', 'age': '11'}, {'name': 'Alex', 'age': '33'}]