In [6]:
# object_name.method_name(parameters(options))


list1=[1,23,4,5,65]
list1.insert(2,"Python")
print(list1)

[1, 23, 'Python', 4, 5, 65]

In [7]:
# help function uses object.name.method_name

help(list1.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [18]:
#functions: built-in, User-Defined, lambda

#DRY: Don't repeat yourself

## User-Defined
a=input("Please put in your name: ")

def hello(name):
    print("Hello,",name)
    print("This is my first one.")

hello(a)

Please put in your name: David
Hello, David
This is my first one.

In [16]:
def hello(name):
    print("Hello,",name)

In [17]:
hello(a)

Hello, John

In [19]:
def sum(a,b,c):
    print("Sum is equal to: ",a+b+c)

In [20]:
sum(4,5,8)

Sum is equal to:  17

In [1]:
def seq (num):
    fact=1
    if num == 0:
        print("Factorial=",fact)
    else:
        while num>0:
            fact*=num
            num-=1
        print("Factorial=",fact)

In [2]:
seq(9)

Factorial= 362880

In [3]:
# void functions do not return any information


def sum (a,b):
    print("Sum is:", a+b)

In [4]:
def square(a):
    print("Square of {}: {}".format(a,a**2))

In [5]:
total = sum(4,5)
square(total)

Sum is: 9

TypeError: unsupported operand type(s) for ** or pow(): 'NoneType' and 'int'

In [6]:
def sum (a,b):
    return a+b

In [7]:
def square (a):
    return a ** 2

In [11]:
total=sum(3,4)
a=square(total)
print(a)

49

In [13]:
a=(square(sum(9,3)))
print(a)

144

In [14]:
#Function parameters: required, default, keywork, variable-length

def hello(name):
    print("Hello,",name)

In [17]:
hello("Susan")

Hello, Susan

In [3]:
#default argument

def hello(name = "No Name"):
    print("Hello,",name)

In [7]:
hello("Dave")

Hello, Dave

In [13]:
def emp_info(employ_id = "No Info",name ="No Info",surname="No Info",phone="No Info"):
    print("ID:",employ_id,"Name:",name,"Surname:",surname,"Phone:",phone)

In [16]:
emp_info()

ID: No Info Name: No Info Surname: No Info Phone: No Info

In [20]:
#keyword arguments

emp_info(surname = "Smith", phone = 476-9876)

ID: No Info Name: No Info Surname: Smith Phone: -9400

In [2]:
#variable-length

def sum(a,b,c):
    print(a+b+c)

In [3]:
sum(1,2,3)

6

In [5]:
def sum(*a):
    print(a)

In [6]:
sum(4,5,6)

(4, 5, 6, 4, 5, 6)

In [7]:
def sum(*a):
    total=0
    for i in a:
        total+=i
    print(total)

In [8]:
sum(5,6,7)

18

In [9]:
sum(4,3)

7

In [10]:
sum (9,3,4,1,5,)

22

In [11]:
#lambda function:it has no name using the lambda keyword

# label = lambda param1, param2, .. : expression (This only uses one expression)

In [12]:
list1=[1,2,3,4]
list2=[i * 2 for i in list1]

In [13]:
print(list2)

[2, 4, 6, 8]

In [19]:
double = lambda x : x * 2

In [18]:
print(list2)

[2, 4, 6, 8]

In [21]:
double(15)

30

In [30]:
reverse = lambda s : s[::-1]

In [31]:
reverse("Steven")

'nevetS'

In [54]:
def sum(x,y):
    if x + y >= 15 and x + y<=20:
        return 20
    else:
        return x + y

In [56]:
sum(7,12)

20

In [60]:
def pal1(my_string):
    a=my_string
    if a == a[::-1]:
        print("pal")
    else:
        print("not")

In [70]:
pal1("steven")

not

In [73]:
s="adaba"
s[::-1]

'abada'