In [ ]:
"""

Core functions

map function: takes in function or list or tuple and iterates:
    map(function, iterable, ..., ...) - need to define your own function
    
filter: filter(function, iterable) Filters out data from a list. Function must return a boolean value.

reduce: reduce(function, iterable) [no longer a core function but a member or the functools] 
                 Executes the function against each member of the list. (culmulative)
                 
zip: to zip up values zip(*iteration)

enumerate: counts each index

"""

In [4]:
def double(x):
    return x * 2

In [5]:
double(3)

6

In [1]:
double = lambda x : x * 2

In [2]:
print(double(5))

10

In [1]:
list2=[1,2,3,4]

In [7]:
newlist=[]
for i in list:
    newlist.append(i*2)
newlist

[2, 4, 6, 8]

In [3]:
map(double, [1,2,3,5])

In [4]:
list(map(double, [1,2,3,5,7]))

[2, 4, 6, 10, 14]

In [2]:
list(map(lambda x : x ** 2, list2))

[1, 4, 9, 16]

In [4]:
list(map(lambda x : x **2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
temps = [("Washington", 19),("London", 22),("Tokyo",12)]
c_to_f = lambda temps : (temps[0], 9/5 * temps[1] + 32)
list(map(c_to_f, temps))

[('Washington', 66.2), ('London', 71.6), ('Tokyo', 53.6)]

In [8]:
data = [35.6,25.8,11.6,21.5,23.6,40.1]

In [19]:
import statistics
avg =statistics.mean(data)
print(avg)

a=list(filter(lambda x : x > avg, data))
b=list(filter(lambda x : x < avg, data))
print(a)
print(b)

26.366666666666667
[35.6, 40.1]
[25.8, 11.6, 21.5, 23.6]

In [20]:
list(filter(lambda x : x % 2 !=0, range(1,32)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [21]:
from functools import reduce

In [22]:
def sum (x,y):
    return x + y

In [25]:
reduce(lambda x,y : x * y, [1,2,3,4,5])

120

In [28]:
def get_max(x,y):
    if x > y:
        return x
    return y

In [29]:
reduce(get_max, [3,5,23,54,22,444,22,15,63,99])

444

reduce(lambda x,y : x if x>y else y, [3,5,23,54,22,444,22,15,63,99])

In [30]:
reduce(lambda x,y : x if x>y else y, [3,5,23,54,22,444,22,15,63,99])

444

In [34]:
num=[1,2,3,4,5]
str_list=["one","two","three","four","five"]
new_list=[]
i=0

while (i <len(num) and i <len(str_list)):
    new_list.append((num[i],str_list[i]))
    i+=1

print(new_list)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [35]:
list(zip(num,str_list))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [37]:
dict(zip(num,str_list))

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [39]:
first=["james","susan","sandy","steve"]
last=["Wada","Power","cove","smith"]

for i,j in zip(first,last):
    print(i,j)

james Wada
susan Power
sandy cove
steve smith

In [42]:
list1=["Apple","Bannana","Orange","Cherry","Mango","Grape"]
i = 0
list = []
while i < len(list1):
    list.append((i,list1[i]))
    i+=1
print(list)

[(0, 'Apple'), (1, 'Bannana'), (2, 'Orange'), (3, 'Cherry')]

In [1]:
list1=["Apple","Bannana","Orange","Cherry","Mango","Grape"]
list(enumerate(list1))

[(0, 'Apple'),
 (1, 'Bannana'),
 (2, 'Orange'),
 (3, 'Cherry'),
 (4, 'Mango'),
 (5, 'Grape')]

In [2]:
list1=["Apple","Bannana","Orange","Cherry","Mango","Grape"]
dict(enumerate(list1))

{0: 'Apple', 1: 'Bannana', 2: 'Orange', 3: 'Cherry', 4: 'Mango', 5: 'Grape'}

In [3]:
list1=["Apple","Bannana","Orange","Cherry","Mango","Grape"]
tuple(enumerate(list1))

((0, 'Apple'),
 (1, 'Bannana'),
 (2, 'Orange'),
 (3, 'Cherry'),
 (4, 'Mango'),
 (5, 'Grape'))

In [4]:
list1=["Apple","Bannana","Orange","Cherry","Mango","Grape"]
tuple(enumerate(list1,start = 10))

((10, 'Apple'),
 (11, 'Bannana'),
 (12, 'Orange'),
 (13, 'Cherry'),
 (14, 'Mango'),
 (15, 'Grape'))

In [6]:
for i,j in enumerate(list1,start = 5):
    print(i,j)

5 Apple
6 Bannana
7 Orange
8 Cherry
9 Mango
10 Grape